<!DOCTYPE html>
<html>
    <head>
        <style> 
            body {
            background-color: rgb({{color1}}, {{color2}}, {{color3}});
            }
            h1 {
            color: blue;
            }
            p {
            color: red;
            }

        </style>
    </head>
    <body>  
    <h1>Click the button that you see</h1>
    <form action="/">
        <button style="background-color: rgb({{color1}}, {{color2}}, {{color3}})">Click me</button>
    </form>
    </body>
</html>